

.main-box
{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cbody
{
    padding:10px 50px;
    font-size:20px;
    line-height: 2;
    font-family: 'Roboto', sans-serif;
    color:#072F5F;

}

.head h1
{
    color:#1261A0;
    font-weight: 900;
    font-size:3.5rem;
}
.head h2
{
    color:#1261A0

    ;
}


.head
{
    width:100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.foot
{
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:30px 40px;
    font-size:17px;

}

.button-box
{
    background-color:#1261A0;
    border-radius:5px;
    border:1px solid white;
    color:white;
    font-size:1.5rem;
    font-weight:700;
    width:300px;
    padding:20px;
    font-size:19px;
    margin:10px;
    margin-top:20px;
    cursor: pointer;
}



/* h1
{
    font-size:40px;
}

h2
{
    font-size:30px;
}

h3
{
    font-size: 15px;
} */
