.report-box
{
    height:90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.report-box h1
{
    font-weight:800;
    font-size:3.5rem;
    color:#1261A0;
}

.report-inner
{
    border:3px solid #072F5F;
    padding:40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:300px;
    width:60vw;
    margin:20px;
    justify-content: space-around;
}

.report-inner h5
{
    font-size: 1rem;
    color:#072F5F;
}


.btns
{
    width:60%;
    display: flex;

}



.result-btn
{
    flex:1;
    background-color:#1261A0;
    color:white;
    margin:10px;
    padding:15px;
    font-weight:800;
}