
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

/* 
.login-comp h2{
font-family: 'Josefin Sans', sans-serif;
text-align: center;
font-size: 4rem;
font-weight:900;
color:#072F5F
} */

